#python cache/ build files / jupyter

__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

.ipynb_checkpoints/
 
# Virtual environments

.venv/
venv/
env/
ENV/
*.env

# Data files
# Ignore all CSV files in /data
data/*.csv

# Keep only the small sample dataset
!data/siem_ueba_log_git.csv

# Explicitly ignore large log files
data/siem_ueba_log.csv
data/siem_ueba_log_small.csv

# Ignore DuckDB databases
data/*.duckdb


